### Lists are ordered collection of data and have characteristic like mutable , iterable, heterogenous

In [113]:
b = "Himanshu"
print(b[0])

for i in b:
    print(i)
    
c=[1,2,"Himanshu",3,print]
c[4](c[2])
    
a= [1,2,3,4,5]
a[-1] ##equilvalent to a[len(a)-1]

H
H
i
m
a
n
s
h
u
Himanshu

5

In [106]:
len(a)

5

In [107]:
a+a

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [84]:
a*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [85]:
2 in a

True

In [86]:
a[::]

[1, 2, 3, 4, 5]

In [87]:
a[1:4]

[2, 3, 4]

In [88]:
a[0:]

[1, 2, 3, 4, 5]

In [89]:
a[0:5]

[1, 2, 3, 4, 5]

In [90]:
a[0:6]

[1, 2, 3, 4, 5]

In [91]:
a[0:4:2]

[1, 3]

In [92]:
a[3::-1]

[4, 3, 2, 1]

In [93]:
a[::-1]

[5, 4, 3, 2, 1]

In [94]:
d = 'civic'
print("Palindrome?" ,d == d[::-1])
d = 'Himanshu'
print("Palindrome?" ,d == d[::-1])

Palindrome? True
Palindrome? False

In [95]:
a

[1, 2, 3, 4, 5]

In [114]:
#a.insert?
print(a)
a.insert(3,-5)
print(a)
a.append(-7)
print(a)
a.pop(2)
print(a)
a.remove(-5)
print(a)
b=["Sachin","Dhoni","Yuvraj"]
b.remove("Dhoni")
print(b)
print(sorted(a))
a.sort()
print(a)
for i in reversed(a):
    print(i)

[1, 2, 3, 4, 5]
[1, 2, 3, -5, 4, 5]
[1, 2, 3, -5, 4, 5, -7]
[1, 2, -5, 4, 5, -7]
[1, 2, 4, 5, -7]
['Sachin', 'Yuvraj']
[-7, 1, 2, 4, 5]
[-7, 1, 2, 4, 5]
5
4
2
1
-7